# Zoho SMTP (EU datacenter most common)
SMTP_HOST=smtp.zoho.eu
SMTP_PORT=587

# Use a mailbox user (NOT alias). Best: info@tejodidesign.eu
SMTP_USER=info@tejodidesign.eu
SMTP_PASS=zvcAQP4vE7VH

# Mail settings
MAIL_FROM=info@tejodidesign.eu
MAIL_TO=info@tejodidesign.eu
